<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <img src="./images/logo-white.png" alt="">
                <div class="added-block"></div>
            </div>
            <div class="footer__first-column footer__flex-container">
                <div class="footer__first-column-item-title footer__media-title">Каталог</div>
                <div class="footer__media-block">
                    <div class="footer__media-items">
                        <a class="footer__first-column-item footer__media-item" href="#">Штучні ялинки</a>
                        <a class="footer__first-column-item footer__media-item" href="#">Високі ялинки</a>
                        <a class="footer__first-column-item footer__media-item" href="#">Ялинкові кулі</a>
                        <a class="footer__first-column-item footer__media-item" href="#">Новорічний декор</a>
                        <a class="footer__first-column-item footer__media-item" href="#">Світові герлянди</a>
                    </div>
                </div>

            </div>
            <div class="footer__second-column footer__flex-container">
                <div class="footer__second-column-item-title footer__media-title">Про компанію</div>
                <div class="footer__media-block">
                    <div class="footer__media-items">
                        <a class="footer__second-column-item footer__media-item" href="#">Послуги</a>
                        <a class="footer__second-column-item footer__media-item" href="#">Оптовикам</a>
                        <a class="footer__second-column-item footer__media-item" href="#">Контакти</a>
                    </div>
                </div>

            </div>
            <div class="footer__third-column footer__flex-container">
                <div class="footer__third-column-item-title footer__media-title">Інформація</div>
                <div class="footer__media-block">
                    <div class="footer__media-items">
                        <a class="footer__third-column-item footer__media-item" href="#">Доставка</a>
                        <a class="footer__third-column-item footer__media-item" href="#">Оплата</a>
                        <a class="footer__third-column-item footer__media-item" href="#">Обмін та повернення</a>
                        <a class="footer__third-column-item footer__media-item" href="#">Політика кофіденціальності</a>
                    </div>
                </div>
            </div>
            <div class="footer__fourth-column footer__flex-container">
                <div class="footer__fourth-column-item-title footer__media-title">Контакти</div>
                <div class="footer__media-block">
                    <div class="footer__media-items">
                        <a class="footer__fourth-column-item footer__media-item"
                            href="tel:+096-532-95-87">+096-532-95-87</a>
                        <a class="footer__fourth-column-item footer__media-item" href="#">З 09:00 до 20:00 без вихідних
                            і
                            свят</a>
                        <a class="footer__fourth-column-item footer__media-item" href="#">Замовити дзвінок</a>
                    </div>
                </div>
            </div>
            <div class="footer__fifth-column footer__flex-container">
                <div class="footer__fifth-column-item-title">Ми в соцмережах</div>
                <div class="footer__social">
                    <svg class="footer__social-icon footer__social-icon--instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                    <svg class="footer__social-icon footer__social-icon--youtube">
                        <use xlink:href="#icon-youtube"></use>
                    </svg>
                    <svg class="footer__social-icon footer__social-icon--facebook">
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>