<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <img src="./images/logo-white.png" alt="">
            </div>
            <div class="footer__first-column footer__flex-container">
                <div class="footer__first-column-item">Каталог</div>
                <a class="footer__first-column-item" href="#">Штучні ялинки</a>
                <a class="footer__first-column-item" href="#">Високі ялинки</a>
                <a class="footer__first-column-item" href="#">Ялинкові кулі</a>
                <a class="footer__first-column-item" href="#">Новорічний декор</a>
                <a class="footer__first-column-item" href="#">Світові герлянди</a>
            </div>
            <div class="footer__second-column footer__flex-container">
                <div class="footer__second-column-item">Про компанію</div>
                <a class="footer__second-column-item" href="#">Послуги</a>
                <a class="footer__second-column-item" href="#">Оптовикам</a>
                <a class="footer__second-column-item" href="#">Контакти</a>
            </div>
            <div class="footer__third-column footer__flex-container">
                <div class="footer__third-column-item">Інформація</div>
                <a class="footer__third-column-item" href="#">Доставка</a>
                <a class="footer__third-column-item" href="#">Оплата</a>
                <a class="footer__third-column-item" href="#">Обмін та повернення</a>
                <a class="footer__third-column-item" href="#">Політика кофіденціальності</a>
            </div>
            <div class="footer__fourth-column footer__flex-container">
                <div class="footer__fourth-column-item">Контакти</div>
                <a class="footer__fourth-column-item" href="tel:+096-532-95-87">+096-532-95-87</a>
                <a class="footer__fourth-column-item" href="#">З 09:00 до 20:00 без вихідних і свят</a>
                <a class="footer__fourth-column-item" href="#">Замовити дзвінок</a>
            </div>
            <div class="footer__fifth-column footer__flex-container">
                <div class="footer__fifth-column-item">Ми в соцмережах</div>
                <div class="footer__social">
                    <img src="./images/instagram-icon.svg" alt="">
                    <img src="./images/youtube-icon.svg" alt="">
                    <img src="./images/facebook-icon.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>