<header class="header">
    <div class="shadow">
        <div class="container">
            <nav class="header-first-block">
                <a class="header-first-block__location">Київ</a>
                <div class="header-first-block__text">
                    <a class="header-first-block__text-li">Оплата</a>
                    <a class="header-first-block__text-li">Доставка</a>
                    <a class="header-first-block__text-li">Поради</a>
                    <a class="header-first-block__text-li">Оптовикам</a>
                    <a class="header-first-block__text-li">Контакти</a>
                </div>
                <div class="header-first-block__wrap">
                    <a class="header-first-block__number" href="tel:+096-532-95-87">+096-532-95-87</a>
                    <div class="header-first-block__btn">Замовити дзвінок</div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="header-second-block">
            <div class="header-second-block__block">
                <div class="mobile-resize">
                    <div class="burger-menu">
                        <span class="burger-menu__item"></span>
                        <span class="burger-menu__item"></span>
                        <span class="burger-menu__item"></span>
                    </div>
                    <div class="header-second-block__logo">
                        <img src="./images/logo-transparent.png" alt="">
                    </div>
                    <div class="mobile-resize__wrap">
                        <div class="mobile-resize__photo">
                            <img src="./images/phone-icon.svg" alt="">
                        </div>
                        <div class="mobile-resize__photo">
                            <img src="./images/search-icon.svg" alt="">
                        </div>
                        <div class="mobile-resize__photo">
                            <img src="./images/cart-icon.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="side-menu__back-drop">
                    </div>
                    <div class="side-menu__content">
                        <div class="side-menu__item-photo">
                            <img src="./images/logo-white.png" alt="">
                        </div>
                        <div class="side-menu__wrap">
                            <a href="postelok.com.ua" class="side-menu__item">Штучні ялинки</a>
                            <a class="side-menu__item">Ялинкові кулі</a>
                            <a class="side-menu__item">Новорічний декор</a>
                            <a class="side-menu__item">Світові гірлянди</a>
                            <a class="side-menu__item">Вибране</a>
                            <a class="side-menu__item">Послуги</a>
                            <a class="side-menu__item">% Знижки</a>
                            <a class="side-menu__item">Поради</a>
                            <a class="side-menu__item">Доставка</a>
                            <a class="side-menu__item">Оплата</a>
                            <a class="side-menu__item">Оптовикам</a>
                            <a class="side-menu__item">Контакти</a>
                        </div>
                    </div>
                </div>

                <div class="header-second-block__text">Новорічний магазин в Києві</div>
            </div>
            <div class="header-second-block__wrap">
                <div class="header-second-block__input-after">
                    <input type="text" class="header-second-block__input" placeholder="Пошук товарів">
                </div>
                <nav class="header-second-block__menu">
                    <a class="header-second-block__menu-item" href="#">Штучні ялинки</a>
                    <a class="header-second-block__menu-item" href="#">Ялинкові кулі</a>
                    <a class="header-second-block__menu-item" href="#">Новорічний декор</a>
                    <a class="header-second-block__menu-item" href="#">Святкові гірлянди</a>
                    <a class="header-second-block__menu-item" href="#">Послуги</a>
                    <a class="header-second-block__menu-item" href="#">% Знижки</a>
                </nav>
            </div>
            <div class="header-second-block__icon">
                <img src="./images/heart-icon.svg" alt="іконка сердечка">
            </div>
            <a class="header-second-block__cart-icon" href="#">
                <img src="./images/cart-icon.svg" alt="">
            </a>
            <a class="header-second-block__cart" href="#">
                <div class="header-second-block__cart-text">Корзина(0)</div>
                <div class="header-second-block__cart-subtext">Ваша корзина порожня</div>
            </a>
        </div>
    </div>
</header>