<header class="header">
    <div class="container">
        <nav class="header-first-block">
            <a class="header-first-block__location">Київ</a>
            <ul class="header-first-block__text">
                <a class="header-first-block__text-li">Оплата</a>
                <a class="header-first-block__text-li">Доставка</a>
                <a class="header-first-block__text-li">Поради</a>
                <a class="header-first-block__text-li">Оптовикам</a>
                <a class="header-first-block__text-li">Контакти</a>
            </ul>
            <div class="header-first-block__wrap">
                <a class="header-first-block__number" href="tel:+096-532-95-87">+096-532-95-87</a>
                <buttun class="header-first-block__btn">Замовити дзвінок</buttun>
            </div>
        </nav>
    </div>
</header>