html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #333333;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.title {
	font-size: 40px;
	font-weight: 500;


}

.title-header {
	display: flex;
	align-items: center;


	&__link {}

	&__arrows {
		display: flex;
		gap: 8px;
		margin-left: auto;
	}

	&__left-arrow {
		background-color: #588A3D;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		user-select: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}

	&__right-arrow {
		background-color: #588A3D;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		user-select: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.swiper-button-disabled {
	background-color: #C4C4C4;
}

.bread-crumbs {
	display: flex;
	gap: 70px;
	margin-bottom: 8px;


	&__text {
		position: relative;
		cursor: pointer;


		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/katalog-arrow-icon.svg');
			background-repeat: no-repeat;
			top: 50%;
			left: 72px;
			width: 56px;
			height: 8px;
			transform: translateY(-50%);
		}
	}

	&__link {
		color: #C4C4C4;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/full-check-icon.svg');
			background-repeat: no-repeat;
			width: 16px;
			height: 16px;
			top: 3px;
			right: -28px;
		}
	}

}

.arrow-block {
	display: flex;
	gap: 6px;
	position: absolute;
	top: 29px;
	right: 19px;
	z-index: 10;


	&__prev {
		background-color: #588A3D;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		user-select: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-180deg);
			width: 30%;
		}
	}

	&__next {
		background-color: #588A3D;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		user-select: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 30%;
		}
	}
}

.swiper-button-disabled {
    background-color: #C4C4C4;
}